@model EntityLayer.Concrete.Team

@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Teammate Registration Page</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label class="control-label">Name and Surname</label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Image Path</label>
                    <input type="text" class="form-control" asp-for="ImageUrl">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Facebook</label>
                    <input type="text" class="form-control" placeholder="enter your facebook profile url" asp-for="FacebookUrl">
                </div>
                <div class="form-group">
                    <label class="control-label">Instagram</label>
                    <input type="text" class="form-control" placeholder="enter your instagram profile url" asp-for="InstagramUrl">
                </div>
                <div class="form-group">
                    <label class="control-label">Twitter</label>
                    <input type="text" class="form-control" placeholder="enter your twitter profile url" asp-for="TwitterUrl">
                </div>
<div class="form-group">
                    <label class="control-label">Website</label>
                    <input type="text" class="form-control" placeholder="enter your website profile url" asp-for="WebsiteUrl">
                </div>
                <button class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </div>
</div>
