@using EntityLayer.Concrete
@model List<About>

<div class="about" id="about">
	<div class="container">
		<h3 class="tittle">About Us</h3>
		<p class="heading-btm-w3ls">We are a world-leading provider of agricultural products.</p>
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li>History</li>
				<li>About us</li>
				<li>Our clients </li>
			</ul>
			@foreach(var item in Model){
			<div class="resp-tabs-container">
				<div class="tab1">
					<p class="para-w3-agileits">@item.AboutHistory</p>
				</div>
				<div class="tab2">
					<p class="para-w3-agileits">@item.AboutUs</p>
				</div>
				<div class="tab3">
					<div class="clients">
						<ul>
							<li><img src="images/c1.png" alt="clients" class="img-responsive" /><span>Sean Damon</span></li>
							<li><img src="images/c2.png" alt="clients" class="img-responsive" /><span>Natalie Barnes</span></li>
							<li><img src="images/c3.png" alt="clients" class="img-responsive" /><span>John Mccoist</span></li>

						</ul>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</div>