@{
	ViewData["Title"]="Index";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">

	@await Component.InvokeAsync("_HeadPartial")

<body>
	<div class="header">
		<div class="container">

			@await Component.InvokeAsync("_SocialMediaPartial")
			@await Component.InvokeAsync("_TopAddressPartial")

			<div class="clearfix"> </div>
		</div>
	</div>

		@await Component.InvokeAsync("_NavbarPartial")
		
	    @await Component.InvokeAsync("_AboutPartial")

		@await Component.InvokeAsync("_AnnouncementPartial")

		@await Component.InvokeAsync("_ServicePartial")

		@await Component.InvokeAsync("_TeamPartial")

		@await Component.InvokeAsync("_GalleryPartial")

<div class="contact-agile" id="contact">
			<div class="container">
				
				@await Component.InvokeAsync("_AddressPartial")

				@await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
			</div>
		</div>
			@await Component.InvokeAsync("_MapPartial")
			    <div class="bottom-social-w3ls w3ls-social-icons">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			<div class="copy">
		        <p>© @DateTime.Now.Year In Harvest . All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		    </div>

	@await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>